{% extends "base.html" %}
{% block content %}

{% if form.errors %}
  <p class="error">Sorry, that's not a valid email address or password</p>
{% endif %}

  <form action="/account/auth/" method="post"> {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" name="email" value="" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="Login" />

  </form>
  <p>Click <a href="/account/register">here</a> to register!</p>

{% endblock %}