<h3>尊敬的{{username}}，您好！</h3>
<p>您已完成报名参加苏打网球联赛，我们将会在分组完成后第一时间通过电子邮件通知您。</p>
<p>获得比赛最新的动态，请关注我们的微信公共号：<strong>TenniSoda</strong></p>

<p>苏打联赛介绍<br>
－ 报名费用：0元<br>
－ 时间：9月开赛，持续6-9星期，通常每周一场比赛，但也可根据选手特殊情况商议。<br>
－ 地点：双方选手自行商议决定，但通常为主场选手决定。<br>
－ 场地费用：双方选手平摊<br>
－ 项目：分级制单打。 （双打即将推出）<br>
－ 参赛资格：所有水平2.0及以上选手，并且可以承诺将完成所有比赛。<br>
－ 报名方式：点击上方按钮”参加联赛“<br>
－ 奖金奖品：暂无。欢迎商家赞助比赛。<br>
－ 规则：3盘2胜，不设裁判，赛后选手自行上传比分。<br>
－ 其他：尊重对手，享受网球，胜负皆为浮云。<br>
</p>
阅读苏打联赛详细规则请点击<a href="http://www.tennisoda.com/static/assets/admin/page-rule.html">这里</a>。
