{% extends "base.html" %}

{% block content %}
  <p>Click <a href="/account/logout/">here</a> to logout.</p>

    <h3>Attended league match</h3>

    {% if games_as_player1 or games_as_player2 or games_played_as_player1 or games_played_as_player2%}
        <p>Coming games:</p>
        {% for game in games_as_player1 %}
            <p>League Name:{{ game.league.name }}</p>
            <p>Opponent Name:{{ game.player2.last_name }}  {{game.player2.first_name }}</p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            <p>Click <a href="/game/upload_score/{{game.id}}">here</a> upload score.</p>

        {% endfor %}
        {% for game in games_as_player2 %}
            <p>League Name:{{ game.league.name }}</p>
            <p>Opponent Name:{{ game.player1.last_name}}  {{game.player1.first_name }}</p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            <p>Click <a href="/game/upload_score/{{game.id}}">here</a> upload score.</p>

        {% endfor %}

        <p>Played games:</p>
        {% for game in games_played_as_player1 %}
            <p>League Name:{{ game.league.name }}</p>
            <p>Opponent Name:{{ game.player2.last_name}}  {{game.player2.first_name }}</p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            {% if not game.player1_confirmed %}
                <p><a href="/game/upload_score/{{game.id}}">Edit score.</a></p>
                <p><a href="/game/confirm_score/{{game.id}}">Confirm the score.</a></p>
            {% endif %}
        {% endfor %}

        {% for game in games_played_as_player2 %}
            <p>League Name:{{ game.league.name }}</p>
            <p>Opponent Name:{{ game.player1.last_name}}  {{game.player1.first_name }}</p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            {% if not game.player2_confirmed %}
                <p><a href="/game/upload_score/{{game.id}}">Edit score.</a></p>
                <p><a href="/game/confirm_score/{{game.id}}">Confirm the score.</a></p>
            {% endif %}
        {% endfor %}
	{% else %}
		<p>You have not joined any game.</p>
	{% endif %}

{% endblock %}
