{% extends "base.html" %}

{% block content %}
    <h1>Attended league match</h1>

    {% if games_as_player1 or games_as_player2 or games_played_as_player1 or games_played_as_player2%}
        <h2>Coming games:</h2>
        {% for game in games_as_player1 %}
            {% if game.league %}
                <p>League Name:{{ game.league.name }}</p>
            {% else %}
                <p>Free League Game</p>
            {% endif %}
            <p>Opponent Name:<a href="/account/view_profile/{{game.player2.user_id}}">{{ game.player2.last_name }}  {{game.player2.first_name }}</a></p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            <p>Click <a href="/game/upload_score/{{game.id}}">here</a> upload score.</p>
            {% if not game.league %}
                <p>Click <a href="/game/quit_game/{{game.id}}">here</a> quit game.</p>
            {% endif %}

        {% endfor %}
        {% for game in games_as_player2 %}
            {% if game.league %}
                <p>League Name:{{ game.league.name }}</p>
            {% else %}
                <p>Free League Game</p>
            {% endif %}
            <p>Opponent Name:<a href="/account/view_profile/{{game.player1.user_id}}">{{ game.player1.last_name}}  {{game.player1.first_name }}</a></p>
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            <p>Click <a href="/game/upload_score/{{game.id}}">here</a> upload score.</p>
            {% if not game.league %}
                <p>Click <a href="/game/quit_game/{{game.id}}">here</a> quit game.</p>
            {% endif %}

        {% endfor %}

        <h2>Played games:</h2>
        {% for game in games_played_as_player1 %}
            {% if game.league %}
                <p>League Name:{{ game.league.name }}</p>
            {% else %}
                <p>Free League Game</p>
            {% endif %}
            <p>Opponent Name:<a href="/account/view_profile/{{game.player2.user_id}}">{{ game.player2.last_name}}  {{game.player2.first_name }}</a></p>
            {% if game.player1_confirmed and game.player2_confirmed %}
                <p>Winner: {{ game.winner }}</p>
            {% endif %}
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            {% if not game.player1_confirmed %}
                <p><a href="/game/upload_score/{{game.id}}">Edit score.</a></p>
                <p><a href="/game/confirm_score/{{game.id}}">Confirm the score.</a></p>

            {% endif %}
            <p><a href="/review/court_review/{{game.id}}">Review the court.</a></p>
            <p><a href="/review/rate_review/{{game.id}}">Review the game.</a></p>

        {% endfor %}

        {% for game in games_played_as_player2 %}
            {% if game.league %}
                <p>League Name:{{ game.league.name }}</p>
            {% else %}
                <p>Free League Game</p>
            {% endif %}
            <p>Opponent Name:<a href="/account/view_profile/{{game.player1.user_id}}">{{ game.player1.last_name}}  {{game.player1.first_name }}</a></p>
            {% if game.player1_confirmed and game.player2_confirmed %}
                <p>Winner: {{ game.winner }}</p>
            {% endif %}
            <p>Game date:{{ game.date }}</p>
            <p>Game court:{{ game.court }}</p>
            {% if not game.player2_confirmed %}
                <p><a href="/game/upload_score/{{game.id}}">Edit score.</a></p>
                <p><a href="/game/confirm_score/{{game.id}}">Confirm the score.</a></p>
            {% endif %}
            <p><a href="/review/court_review/{{game.id}}">Review the court.</a></p>
            <p><a href="/review/rate_review/{{game.id}}">Review the game.</a></p>

        {% endfor %}
	{% else %}
		<p>You have not joined any game.</p>
	{% endif %}

{% endblock %}
