{% extends "admin-base.html" %}
{% load static %}

{% block title %}
        <title>Login In &middot; TenniSoda</title>
{% endblock %}

{% block content %}

<body class="account-bg">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="{%static "assets/landing/img/logo.png" %}" style="width:186px;height:60px" alt="TenniSoda">
        </a>
      </div> <!-- /.navbar-header -->

      <nav class="collapse navbar-collapse" role="navigation">   
        <ul class="nav navbar-nav navbar-right">     
          <li>
            <a href="/"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Home</a>
          </li>   
        </ul>
      </nav>

    </div> <!-- /.container -->

  </header>

  <div class="account-wrapper">

    <div class="account-body">

      <h2>Password Reset</h2>

      <h5>We'll email you instructions on how to reset your password.</h5>

      <form class="form account-form" method="POST" action="/account/forget_password/">{% csrf_token %}

        <div class="form-group">
          <label for="forgot-email" class="placeholder-hidden">Your Email</label>
          <input type="text" class="form-control" id="forgot-email" placeholder="Your Email" tabindex="1" name="email">
          	{% if warning %}
              <small><font color="red">Email has not registered.</font></small>
            {% endif %}
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="2">
            Send Email to Reset Password &nbsp; <i class="fa fa-refresh"></i>
          </button>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <a href="/account/login/"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </div> <!-- /.form-group -->
      </form>

    </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->

</body>
{% endblock %}
