{% extends "admin-base.html" %}
{% load static %}

{% block title %}
    <title>Sign Up &middot; TenniSoda</title>
{% endblock %}
{% block content %}

<script>
    function check(){
        flag = document.getElementById("check_terms").checked;
        if (!flag){
            alert("You must agree the Terms and Service!");
            return flag;
        }
    }
</script>

<body class="account-bg">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="{% static "assets/landing" %}" class="navbar-brand navbar-brand-img">
          <img src="{% static "assets/admin/img/logo.png" %}" style="width:186px;height:60px" alt="TenniSoda">
        </a>
      </div> <!-- /.navbar-header -->

      <nav class="collapse navbar-collapse" role="navigation">   
        <ul class="nav navbar-nav navbar-right">     
          <li>
            <a href="/"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Home</a>
          </li>   
        </ul>
      </nav>

    </div> <!-- /.container -->

  </header>

  <div class="account-wrapper">

    <div class="account-body">

      <h3>Register</h3>

      <h5>Sign up in 30 seconds. No credit card required.</h5>

      <form class="form account-form" method="POST" action="/account/register/" onsubmit="return check()">{% csrf_token %}

        {% for field in form %}
          <div class = "form-group">
            {{ field }}
              {% for err in field.errors %}
                <span style="color: red">{{ err }}</span>
            {% endfor %}
          </div><!-- /.form-group -->
        {% endfor %}

        <div class="form-group">
          <label class="checkbox-inline">
          <input type="checkbox" id="check_terms" class="" value="" tabindex="5"> I agree to the <a href="javascript:;" target="_blank">Terms of Service</a> &amp; <a href="javascript:;" target="_blank">Privacy Policy</a>
          </label>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="6">
          Create My Account &nbsp; <i class="fa fa-play-circle"></i>
          </button>
        </div> <!-- /.form-group -->

      </form>

    </div> <!-- /.account-body -->

    <div class="account-footer">
      <p>
      Already have an account? &nbsp;
      <a href="/account/login" class="">Login to your Account!</a>
      </p>
    </div> <!-- /.account-footer -->

  </div> <!-- /.account-wrapper -->

</body>

{% endblock %}
