{% extends "admin-base.html" %}
{% load static %}

{% block title %}
        <title>登录 - 网球苏打 &middot; TenniSoda</title>
{% endblock %}

{% block content %}

<body class="account-bg">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="{%static "assets/landing/img/logo.png" %}" style="width:186px;height:60px" alt="TenniSoda">
        </a>
      </div> <!-- /.navbar-header -->

      <nav class="collapse navbar-collapse" role="navigation">   
        <ul class="nav navbar-nav navbar-right">     
          <li>
            <a href="/"><i class="fa fa-angle-double-left"></i> &nbsp; 回到主页</a>
          </li>   
        </ul>
      </nav>

    </div> <!-- /.container -->

  </header>

  <div class="account-wrapper">

    <div class="account-body">

      <h3>欢迎回到网球苏打</h3>

      <h5>请输入邮箱和密码登录</h5>

      <form class="form account-form" method="POST" action="/account/login/">{% csrf_token %}

      {% if warning %}
          {% if email_exist %}
            <small><font color="red">密码不对！</font></small>
          {% else %}
            <small><font color="red">该邮箱不存在！</font></small>
          {% endif %}
      {% endif %}

        <div class="form-group">
          <label for="login-username" class="placeholder-hidden">邮箱</label>
          {% if email %}
            <input type="email" class="form-control"  placeholder="Email address" tabindex="1" name="email" value="{{email}}">
          {% else %}
            <input type="email" class="form-control"  placeholder="邮箱" tabindex="1" name="email">
          {% endif %}
        </div> <!-- /.form-group -->

        <div class="form-group">
          <label for="login-password" class="placeholder-hidden">密码</label>
          <input type="password" class="form-control" id="login-password" placeholder="密码" tabindex="2" name="password">
        </div> <!-- /.form-group -->
        
        <input type="hidden" name="next" value="{{next}}"/>

        <div class="form-group clearfix">
          <div class="pull-left">					
            <label class="checkbox-inline">
              <input type="checkbox" name="remember_me" value="true" tabindex="3" checked><small>记住我</small>
            </label>
          </div>

          <div class="pull-right">
            <small><a href="/account/forget_password/">忘记密码？</a></small>
          </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
            登录 &nbsp; <i class="fa fa-play-circle"></i>
          </button>
        </div> <!-- /.form-group -->

      </form>


    </div> <!-- /.account-body -->

    <div class="account-footer">
      <p>
      没有帐号？ &nbsp;
      <a href="/account/register/" class="">注册！</a>
      </p>
    </div> <!-- /.account-footer -->

  </div> <!-- /.account-wrapper -->

</body>

{% endblock %}
