{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>所有球场 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block court %}
    <li class="dropdown active">
    <a href="/court/all/">
        <i class="fa fa-table"></i>
        场地
    </a>
    </li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <h3 class="content-title"><u>所有场地</u></h3>

      <div class="row">

        <div class="col-md-12">

          <div class="table-responsive">
          <!-- all courts table -->
          <table class="table table-striped table-bordered thumbnail-table">
            <thead>
                <tr>
                    <th style="width: 100px">图片</th>
                    <th>名称</th>
                    <th>城市</th>
                    <th>地址</th>
                    <th>费用</th>
                    <th>联系电话</th>
                </tr>
            </thead>
            <tbody>
                {% for court in courts %}
                <tr>
                    <!--court picture-->
                    <td>
                      <div class="thumbnail">
                        <div class="thumbnail-view">
                          {% if court.picture %}
                            <img src="{% get_static_prefix %}assets/{{court.picture.url}}" width="125" alt="League Image" >
                          {% else %}
                            <img src="{% static "assets/uploaded_files/default-court.jpg" %}" width="125" alt="League Image" >
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    <!--court name-->
                    <td class="valign-middle">
                        <p><font size="3">{{court.name}}</font></p>
                    </td>
                    <!--court city-->
                    <td class="valign-middle">
                        <p><font size="3">{{court.city}}</font></p>
                    </td>
                    <!--court address-->
                    <td class="valign-middle">
                        <p><font size="3">{{court.address}}</font></p>
                    </td>
                    <!--court fee-->
                    <td class="valign-middle">
                        <p><font size="3">{{court.fee}}</font></p>
                    </td>
                    <!--court phone-->
                    <td class="valign-middle">
                        <p><font size="3">{{court.phone}}</font></p>
                    </td>

                </tr>
                {% endfor %}


            </tbody>
           </table>

          </div> <!-- /.table-responsive -->


        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->

  </div> <!-- .content -->



{% endblock %}