{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>所有用户 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block display_all_users %}
    <li class="dropdown active">
    <a href="/account/display_all_users/">
        <i class="fa fa-cloud"></i>
        所有用户
    </a>
    </li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">
		<div class="layout layout-stack-sm layout-main-left">
		<div class="col-sm-8 col-md-9 layout-main">
			
			<h3 class="content-title"><u>所有用户</u></h3>

		  	<div class="row">
		  
		  	{% for user in all_users %}
		  		<div class="col-md-3 col-sm-6">
		  		
		  			<div class="thumbnail">
		  				<div class="text-center">
						<div class="thumbnail-view">
				 			<a href="/account/view_profile/{{user.id}}/" target="_blank" class="valign-middle">
						    {% if user.profile.picture %}
						  		<img src="{% get_static_prefix %}assets/{{user.profile.picture.url}}" style="width: 150px;height: 150px;" alt="Profile Image" />
							{% else %}
				  				<img src="{% static "assets/uploaded_files/default.jpg" %}" style="width: 150px;height: 150px;" alt="Profile Image" />
							{% endif %}
							</a>
						</div>
						</div>
						<div class="caption">
						    <h4 class="valign-middle">
						    	<a href="/account/view_profile/{{user.id}}/" target="_blank">{{user.profile}}</a>
						    	<i class="fa fa-signal" style="float:right;font-size:18px">{{user.level}}</i>
						    </h4>
                            <p>
                                <i class="icon-li fa fa-globe"></i>
                                {% if user.profile.city %}
                                    {{user.city}}
                                {% else %}
                                    未选城市
                                {% endif %}
                        	</p>
                            <p>
                                <i class="icon-li fa fa-map-marker"></i>
								{%if profile.court %}
									{{profile.court}}
								{% else %}
									未选主场
								{% endif %}
                            </p>
						  </div>
						  <div class="thumbnail-footer">
						    <div class="pull-left">
						      
						    </div>

						    <div class="pull-right">
							  	{% ifequal user profile.user %}
									<a href=""></a>
								{% else %}
									{% if user in following %}
										<a href="/account/remove_follower/{{user.id}}/"><font color="grey"><i class="fa fa-check">&nbsp;已关注 |</font></i><font color="#0066CC"> 取消</font></a>
									{% else %}
										<a href="/account/add_follower/{{user.id}}/"><font color="#669933"><i class="fa fa-plus"><strong>&nbsp;&nbsp;关&nbsp;&nbsp;注&nbsp;&nbsp;</strong></i></font></a>
									{% endif %}
								{% endifequal %}
						    </div>
						</div>
					</div>          

		    	</div> <!-- /.col -->
		    {% endfor %}

			</div> <!-- /.row -->
		  
			<div class="row">
			  	<!-- pagination-->
				<div class="dataTables_paginate paging_bootstrap">
					<ul class="pagination">
						{% if all_users.has_previous %}
						<li class="btn prev"><a href="?page={{all_users.previous_page_number}}"><i class="fa fa-angle-double-left"></i>上一页</a></li>
						{% else %}
						<li class="btn prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>上一页</a></li>
						{% endif %}
						{%if all_users.has_next %}
						<li class="btn next"><a href="?page={{all_users.next_page_number}}">下一页<i class="fa fa-angle-double-right"></i></a></li>
						{% else %}
						<li class="btn next disabled"><a href="">下一页<i class="fa fa-angle-double-right"></i></a></li>
						{% endif %}
						</ul>
				</div><!-- /.paginate -->
				
			</div><!-- /.row -->
			
		</div><!-- /.layout-main -->
		
		<div class="col-sm-4 col-md-3 layout-sidebar">
			<div class="portlet">
            	<a href="/game/game_group/" class="btn btn-primary btn-jumbo btn-block">约&nbsp;&nbsp;球</a>
            	<br/>
            	<a href="/game/league/" class="btn btn-secondary btn-lg btn-block ">查看联赛</a>
        	</div> <!-- /.portlet -->
		</div><!-- /.layout-sidebar -->
		
		</div><!-- /.layout -->
		
    </div> <!-- /.container -->

  </div> <!-- .content -->



{% endblock %}
