{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>所有用户 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block display_all_users %}
    <li class="dropdown active">
    <a href="/account/display_all_users/">
        <i class="fa fa-cloud"></i>
        所有用户
    </a>
    </li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <h3 class="content-title"><u>所有用户</u></h3>

      <div class="row">
      
      	{% for user in all_users %}
      		<div class="col-md-3 col-sm-6">
      		
      			<div class="thumbnail">
			    	<div class="thumbnail-view">
		     			<a href="/account/view_profile/{{user.id}}/" target="_blank" class="valign-middle">
				        {% if user.profile.picture %}
					  		<img src="{% get_static_prefix %}assets/{{user.profile.picture.url}}" style="width: 253px;height: 253px;" alt="Profile Image" />
						{% else %}
			  				<img src="{% static "assets/uploaded_files/default.jpg" %}" style="width: 253px;height: 253px;" alt="Profile Image" />
						{% endif %}
						</a>
				    </div>
				    <div class="caption">
				        <h3 class="valign-middle">
				        	<a href="/account/view_profile/{{user.id}}/" target="_blank">{{user.profile}}</a>
				        	<i class="fa fa-signal" style="float:right;font-size:18px">{{user.level}}</i>
				        </h3>
				        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				        <p>
				          <a href="javascript:;" class="btn btn-primary btn-sm btn-sm">Button</a> 
				          &nbsp;
				          <a href="javascript:;" class="btn btn-secondary btn-sm btn-sm">Button</a>
				        </p>
				      </div>
				      <div class="thumbnail-footer">
				        <div class="pull-left">
				          <a href="javascript:;"><i class="fa fa-thumbs-up"></i> 123</a> 
				          <a href="javascript:;"><i class="fa fa-thumbs-down"></i> 29</a>
				        </div>

				        <div class="pull-right">
				          <a href="javascript:;"><i class="fa fa-clock-o"></i> 2 days ago</a>
				        </div>
				    </div>
				</div>          

        	</div> <!-- /.col -->
        {% endfor %}

      </div> <!-- /.row -->
      
      <div class="row">
		<!-- pagination-->
		<div class="dataTables_paginate paging_bootstrap">
			<ul class="pagination">
				{% if all_users.has_previous %}
				<li class="btn prev"><a href="?page={{all_users.previous_page_number}}"><i class="fa fa-angle-double-left"></i>上一页</a></li>
				{% else %}
				<li class="btn prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>上一页</a></li>
				{% endif %}
				{%if all_users.has_next %}
				<li class="btn next"><a href="?page={{all_users.next_page_number}}">下一页<i class="fa fa-angle-double-right"></i></a></li>
				{% else %}
				<li class="btn next disabled"><a href="">下一页<i class="fa fa-angle-double-right"></i></a></li>
				{% endif %}
				</ul>
		</div><!-- /.paginate -->
      </div><!-- /.row -->

    </div> <!-- /.container -->

  </div> <!-- .content -->



{% endblock %}
