{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>已参加联赛 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block league %}

          <li class="dropdown active">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            联赛
            <i class="mainnav-caret"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/game/all_league/">
                <i class="fa fa-money"></i>
                &nbsp;&nbsp;所有联赛
                </a>
              </li>

              <li>
                <a href="/game/attended_league/">
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;已参加联赛
                </a>
              </li>

            </ul>
          </li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">
      {% if league_attended_not_finished or league_attended_finished %}
      {% if league_attended_not_finished %}
      <h3 class="content-title"><u>Attended leagues not finished</u></h3>

      <div class="row">

        <div class="col-md-12">

          <div class="table-responsive">
          <!-- all league table -->
          <table class="table table-striped table-bordered thumbnail-table">
            <thead>
                <tr>
                    <th style="width: 150px">Image</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>City</th>
                    <th>Number</th>
                    <th>Level range</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for league in league_attended_not_finished %}
                <tr>
                    <!--league picture-->
                    <td>
                        <div class="thumbnail">
                            <div class="thumbnail-view">
                                {% if league.picture %}
                                <img src="{% get_static_prefix %}assets/{{league.picture.url}}" width="125" alt="League Image" >
                                {% else %}
                                <img src="{% static "assets/uploaded_files/default-league.png" %}" width="125" alt="League Image" >
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <!--league name-->
                    <td class="valign-middle">
                        <p>{{league.name}}</p>
                    </td>
                    <!--league start date-->
                    <td class="valign-middle">
                        <p>{{league.start_date}}</p>
                    </td>
                    <!--league end date-->
                    <td class="valign-middle">
                        <p>{{league.end_date}}</p>
                    </td>
                    <!--league city-->
                    <td class="valign-middle">
                        <p>{{league.city}}</p>
                    </td>
                    <!--league people number-->
                    <td class="valign-middle">
                        <p>{{league.current_player_number}}/{{league.max_player_number}}</p>
                    </td>
                    <!--league level range-->
                    <td class="valign-middle">
                        <p>{{league.level_low}}-{{league.level_high}}</p>
                    </td>
                    <td class="text-center valign-middle">
                        <a href="/game/join_league_cancel/{{league.id}}/">
                        <button class="btn btn-xs btn-secondary" ><i class="fa fa-times"></i></button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
           </table>
          </div> <!-- /.table-responsive -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
      {% endif %}
      {% if league_attended_finished %}
      <h3 class="content-title"><u>Attended leagues finished</u></h3>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
          <!-- all league table -->
          <table class="table table-striped table-bordered thumbnail-table">
            <thead>
                <tr>
                    <th style="width: 150px">Image</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>City</th>
                    <th>Number</th>
                    <th>Level range</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for league in league_attended_finished %}
                <tr>
                    <!--league picture-->
                    <td>
                        <div class="thumbnail">
                            <div class="thumbnail-view">
                                {% if league.picture %}
                                <img src="{% get_static_prefix %}assets/{{league.picture.url}}" width="125" alt="League Image" >
                                {% else %}
                                <img src="{% static "assets/uploaded_files/default-league.png" %}" width="125" alt="League Image" >
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <!--league name-->
                    <td class="valign-middle">
                        <p>{{league.name}}</p>
                    </td>
                    <!--league start date-->
                    <td class="valign-middle">
                        <p>{{league.start_date}}</p>
                    </td>
                    <!--league end date-->
                    <td class="valign-middle">
                        <p>{{league.end_date}}</p>
                    </td>
                    <!--league city-->
                    <td class="valign-middle">
                        <p>{{league.city}}</p>
                    </td>
                    <!--league people number-->
                    <td class="valign-middle">
                        <p>{{league.current_player_number}}/{{league.max_player_number}}</p>
                    </td>
                    <!--league level range-->
                    <td class="valign-middle">
                        <p>{{league.level_low}}-{{league.level_high}}</p>
                    </td>
                    <td class="text-center valign-middle">
                        <p>finished</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
           </table>
          </div> <!-- /.table-responsive -->
        </div> <!-- /.col -->

      </div> <!-- /.row -->
      {% endif %}
      {% else %}
        <h3 class="content-title text-center"><u><strong>您还没参加过任何联赛！点击<a href="/game/all_league/">这里</a>参加！</strong></u></h3>
      {% endif %}

    </div> <!-- /.container -->

  </div> <!-- .content -->



{% endblock %}