{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>约球 &middot; TenniSoda</title>
{% endblock %}
{% block head %}
<script>
    function checkProfilePublish(){
        {% if profile.last_name and profile.first_name and profile.phone %}
            window.location = "/game/publish_game_group/";
        {% else %}
            alert("我们需要您的姓名以及联系方式，这样才能发布约球信息");
            window.location = "/account/change_profile/";
        {% endif %}
    }
    function checkProfileJoin(group_id){
        {% if profile.last_name and profile.first_name and profile.phone %}
            window.location = "/game/join_game_group/"+group_id;
        {% else %}
            alert("我们需要您的姓名以及联系方式，以联系其他球友");
            window.location = "/account/change_profile/";
        {% endif %}
    }
    function confirmDelete(group_id){
    	if (confirm("确认删除吗？（此过程不可逆）") == true) {
		    window.location = "/game/delete_game_group/" + group_id;
		} else {
		    
		}
    }
    function confirmQuit(group_id){
    	if (confirm("确认退出吗？（此过程不可逆）") == true) {
		    window.location = "/game/quit_game_group/" + group_id;
		} else {
		    
		}
    }
</script>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block game_group %}
  <li class="dropdown active">
    <a href="/game/game_group/">
        <i class="fa fa-group"></i>
        约球
    </a>
  </li>
  {% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <div class="layout layout-stack-sm layout-main-left">
        <div class="col-sm-8 col-md-9 layout-main">

        {% if attended_groups %}
        <h3 class="content-title"><u>加入的小组</u></h3>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered thumbnail-table">
                        <thead>
                            <tr>
                                <th style="width: 100px">发起人</th>
                                <th>详情</th>
                                <th class="hidden-xs hidden-sm">要求</th>
                                <th class="hidden-xs text-center">成员</th>
                                <th class="text-center">动作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in attended_groups %}
                            <tr>
                                <!-- holder -->
                                <td>
                                    <div class="thumbnail">
                                        <div class="thumbnail-view">
                                            {% if group.holder.picture %}
                                                <a class="thumbnail-view-hover ui-lightbox" href="{% get_static_prefix %}assets/{{ group.holder.picture.url}}"></a>
                                                <img src="{% get_static_prefix %}assets/{{ group.holder.picture.url}}" width="125" alt="Holder Image"/>
                                            {% else %}
                                                <a class="thumbnail-view-hover ui-lightbox" href="{% static "assets/uploaded_files/default.jpg" %}"></a>
                                                <img src="{% static "assets/uploaded_files/default.jpg" %}" width="125" alt="Holder Image" />
                                            {% endif %}
                                        </div>
                                    </div><!-- /.thumbnail -->
                                </td>
                                <!-- Game Group Description -->
                                <td class="valign-middle">
                                    <span>{{ group.city }}&nbsp;&nbsp;{{ group.court }}</span><br />
                                    <span>{{ group.date }} {{ group.start_time }}</span><br />
                                    <span>时间： {{ group.last_hour }}小时</span><br />
                                </td>
                                <!-- Game Group Requirement -->
                                <td class="valign-middle hidden-xs hidden-sm">
                                    <span><strong>等级要求</strong>: {{ group.level_low }}~{{ group.level_high}}</span><br />
                                    <span><strong>人数</strong>： {{ group.current_num}}/{{ group.maximum }}</span><br />
                                    <span><strong>价格</strong>: {{ group.price }}</span><br />
                                    <span><strong>介绍</strong>: {{ group.description }}</span>
                                </td>
                                <!-- Game Group Members -->
                                <td class="dropdown text-center valign-middle hidden-xs">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <button class="btn btn-xs btn-primary" ><i class="fa fa-caret-square-o-down"></i></button>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="text-left">
                                            <a href="/account/view_profile/{{group.holder.user_id}}/">
                                                {% if group.holder.picture %}
                                                    <img src="{% get_static_prefix %}assets/{{ group.holder.picture.url}}" class="navbar-profile-avatar">
                                                {% else %}
                                                    <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar">
                                                {% endif %}
                                                <span style="color: red">{{group.holder.last_name}} {{group.holder.first_name}}</span>&nbsp;
                                                {% if group.holder.gender %}
                                                    {% ifequal group.holder.gender '0' %}
                                                        <i class="fa fa-female"></i>
                                                    {% else %}
                                                        <i class="fa fa-male"></i>
                                                    {% endifequal %}
                                                {% endif %}
                                                &nbsp;&nbsp;{{ group.holder.phone }}
                                            </a>
                                        </li>
                                        {% for member in group.get_members %}
                                           <li class="text-left">
                                                <a href="/account/view_profile/{{member.user_id}}/">
                                                    {% if member.picture %}
                                                        <img src="{% get_static_prefix %}assets/{{ member.picture.url}}" class="navbar-profile-avatar">
                                                    {% else %}
                                                        <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar">
                                                    {% endif %}
                                                    {{member.last_name}} {{member.first_name}}
                                                    {% if member.gender %}
                                                        {% ifequal member.gender '0' %}
                                                            <i class="fa fa-female"></i>
                                                        {% else %}
                                                            <i class="fa fa-male"></i>
                                                        {% endifequal %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <!-- Action -->
                                <td class="text-center valign-middle">
                                  {% ifequal group.holder profile %}
                                  	<a href="/game/edit_game_group/{{group.id}}/">
                                  		<!--button class="btn btn-xs btn-primary" title="修改"><i class="fa fa-pencil"></i></button-->修改
                                  	</a>
                                  	<a>
                                  		<!--button onclick="confirmDelete({{group.id}})" class="btn btn-xs btn-secondary" title="删除"><i class="fa fa-times"></i></button-->删除
                                  	</a>
                                  {% else %}
                                    <a>
                                        <!--button onclick="confirmQuit({{group.id}})" class="btn btn-xs btn-secondary" title="退出"><i class="fa fa-minus"></i></button-->退出
                                    </a>
                                  {% endifequal %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
				<!-- pagination-->
				<div class="dataTables_paginate paging_bootstrap">
				<ul class="pagination">
					{% if attended_groups.has_previous %}
					<li class="prev"><a href="?attended_groups_page={{attended_groups.previous_page_number}}"><i class="fa fa-angle-double-left"></i>前一页</a></li>
					{% else %}
					<li class="prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>前一页</a></li>
					{% endif %}
					{%if attended_groups.has_next %}
					<li class="next"><a href="?attended_groups_page={{attended_groups.next_page_number}}">后一页<i class="fa fa-angle-double-right"></i></a></li>
					{% else %}
					<li class="next disabled"><a href="">后一页<i class="fa fa-angle-double-right"></i></a></li>
					{% endif %}
				</ul>
			</div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        {% endif %}

        {% if all_groups %}
        <h3 class="content-title"><u>已有小组</u></h3>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered thumbnail-table">
                        <thead>
                            <tr>
                                <th style="width: 100px">发起人</th>
                                <th>详情</th>
                                <th class="hidden-xs hidden-sm">要求</th>
                                <th class="hidden-xs text-center">成员</th>
                                <th class="text-center">加入</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in all_groups %}
                            <tr>
                                <!-- holder -->
                                <td>
                                    <div class="thumbnail">
                                        <div class="thumbnail-view">
                                            {% if group.holder.picture %}
                                                <a class="thumbnail-view-hover ui-lightbox" href="{% get_static_prefix %}assets/{{ group.holder.picture.url}}"></a>
                                                <img src="{% get_static_prefix %}assets/{{ group.holder.picture.url}}" width="125" alt="Holder Image"/>
                                            {% else %}
                                                <a class="thumbnail-view-hover ui-lightbox" href="{% static "assets/uploaded_files/default.jpg" %}"></a>
                                                <img src="{% static "assets/uploaded_files/default.jpg" %}" width="125" alt="Holder Image" />
                                            {% endif %}
                                        </div>
                                    </div><!-- /.thumbnail -->
                                </td>
                                <!-- Game Group Description -->
                                <td class="valign-middle">
                                    <span>{{ group.city }}&nbsp;&nbsp;{{ group.court }}</span><br />
                                    <span>{{ group.date }} {{ group.start_time }}</span><br />
                                    <span>时间： {{ group.last_hour }}小时</span><br />
                                </td>
                                <!-- Game Group Requirement -->
                                <td class="valign-middle hidden-xs hidden-sm">
                                    <span><strong>等级要求</strong>: {{ group.level_low }}~{{ group.level_high}}</span><br />
                                    <span><strong>人数</strong>： {{ group.current_num}}/{{ group.maximum }}</span><br />
                                    <span><strong>价格</strong>: {{ group.price }}</span><br />
                                    <span><strong>介绍</strong>: {{ group.description }}</span>
                                </td>
                                <!-- Game Group Members -->
                                <td class="dropdown text-center valign-middle hidden-xs">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <button class="btn btn-xs btn-primary" ><i class="fa fa-caret-square-o-down"></i></button>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="text-left">
                                            <a href="/account/view_profile/{{group.holder.user_id}}/">
                                                {% if group.holder.picture %}
                                                    <img src="{% get_static_prefix %}assets/{{ group.holder.picture.url}}" class="navbar-profile-avatar">
                                                {% else %}
                                                    <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar">
                                                {% endif %}
                                                <span style="color: red">{{group.holder.last_name}} {{group.holder.first_name}}</span>&nbsp;
                                                {% if group.holder.gender %}
                                                    {% ifequal group.holder.gender '0' %}
                                                        <i class="fa fa-female"></i>
                                                    {% else %}
                                                        <i class="fa fa-male"></i>
                                                    {% endifequal %}
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% for member in group.get_members %}
                                           <li class="text-left">
                                                <a href="/account/view_profile/{{member.user_id}}/">
                                                    {% if member.picture %}
                                                        <img src="{% get_static_prefix %}assets/{{ member.picture.url}}" class="navbar-profile-avatar">
                                                    {% else %}
                                                        <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar">
                                                    {% endif %}
                                                    {{member.last_name}} {{member.first_name}}
                                                    {% if member.gender %}
                                                        {% ifequal member.gender '0' %}
                                                            <i class="fa fa-female"></i>
                                                        {% else %}
                                                            <i class="fa fa-male"></i>
                                                        {% endifequal %}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <!-- Action -->
                                <td class="text-center valign-middle">
                                  {% ifequal group.current_num group.maximum %}
                                    <button class="btn btn-xs btn-primary disabled" title="人已满"><i class="fa fa-plus-circle"></i></button>
                               	  {% else %}
                                    <button class="btn btn-xs btn-primary" title="加入" onclick="checkProfileJoin({{group.id}})"><i class="fa fa-plus-circle"></i>加入</button>
                               	  {% endifequal %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
				<!-- pagination-->
				<div class="dataTables_paginate paging_bootstrap">
				<ul class="pagination">
					{% if all_groups.has_previous %}
					<li class="prev"><a href="?all_groups_page={{all_groups.previous_page_number}}"><i class="fa fa-angle-double-left"></i>前一页</a></li>
					{% else %}
					<li class="prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>前一页</a></li>
					{% endif %}
					{%if all_groups.has_next %}
					<li class="next"><a href="?all_groups_page={{all_groups.next_page_number}}">后一页<i class="fa fa-angle-double-right"></i></a></li>
					{% else %}
					<li class="next disabled"><a href="">后一页<i class="fa fa-angle-double-right"></i></a></li>
					{% endif %}
				</ul>
			</div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        {% endif %}

        </div><!-- /.layout-main -->

        <div class="col-sm-4 col-md-3 layout-sidebar">
          <div class="portlet">
            <a class="btn btn-primary btn-jumbo btn-block" onclick="checkProfilePublish()">发布约球信息</a>
            <br>
            <a href="/game/league/" class="btn btn-secondary btn-lg btn-block ">联赛</a>
          </div> <!-- /.portlet -->

          <h4>介绍</h4>

          <div class="well">
            
            <ul class="icons-list text-md">
              <li>
                <i class="icon-li fa fa-comments-o text-success"></i>
                <strong>约球？</strong>
                <br>
                在这里你可以发布约球信息，也能看别人的约球。
              </li>
            </ul>
          </div> <!-- /.well -->

        </div> <!-- /.layout-sidebar -->

      </div> <!-- /.layout -->

    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}
