{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>我的主页 &middot; TenniSoda</title>
{% endblock %}
{% block head %}
<script>
    function checkProfile(){
        {% if profile.last_name and profile.first_name and profile.phone %}
            window.location = "/game/find_game/";
        {% else %}
            alert("Please provide your name and phone first!");
            window.location = "/account/change_profile/";
        {% endif %}
    }
</script>
<!-- start Mixpanel -->
      <script type="text/javascript">
(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("7839eb0766d436492cbf86caab93a026");
      </script>
    <!-- end Mixpanel -->

      <script type="text/javascript">
        mixpanel.track("Welcome page viewed");
      </script>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block profile %}
<li class="dropdown active">
<a href="/account/welcome_user/">
    <i class="fa fa-user"></i>
    我的主页
</a>
</li>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-3 col-sm-5">

          <div class="profile-avatar">
            {% if profile.picture %}
                <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="profile-avatar-img thumbnail" alt="Profile Image">
            {% else %}
                <img src="{% static "assets/uploaded_files/default.jpg" %}" class="profile-avatar-img thumbnail" alt="Profile Image">
            {% endif %}
          </div> <!-- /.profile-avatar -->

		{% block list_group %}
          <div class="list-group">  

            <a href="/account/welcome_user/" class="list-group-item active">
              <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp; 动态

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a>

            <a href="/account/get_followers/{{profile.user_id}}/" class="list-group-item">
              <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;粉丝 ({{ followers_count }})

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a href="/account/get_following/{{profile.user_id}}/" class="list-group-item">
              <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;关注 ({{ following_count }})

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a href="/account/change_profile/" class="list-group-item">
              <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;修改设置

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 
          </div> <!-- /.list-group -->
		{% endblock %}


        </div> <!-- /.col -->



        <div class="col-md-6 col-sm-7">

          <h3>{{ profile }}</h3>

          <!--<h5 class="text-muted">Ladder points: XXXX</h5>-->
          
          <ul class="icons-list">
            <li>
            	<i class="icon-li fa fa-globe"></i>
            	{% if profile.city %}
            		{{ profile.city }}
            	{% else %}
            		 未选城市
            	{% endif %}
            </li>
            <li>
            	<i class="icon-li fa fa-map-marker"></i>
            	{%if profile.court %}
            		{{profile.court}}
            	{% else %}
            		未选主场
            	{% endif %}
            </li>
          </ul>    

          <hr>

		{% block subcontent %}
          <!--h4 class="content-title"><u>Coming game</u></h4>

          <ul class="icons-list notifications-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">You</a> watched the project <a href="javascript:;">MVP Ready Development</a>
            </li>
          </ul>

          <br><br-->
		  
          <h4 class="content-title"><u>动态</u></h4>

            <br><br>
			{% for activity in activities %}
			{% ifequal activity.type 1 %}
            <div class="feed-item feed-item-idea">

              <div class="feed-icon">
                <i class="fa fa-group"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="/account/view_profile/{{activity.creator.user_id}}/">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				发布了约球小组
				</td>
				<td class="text-right">
				  {% if profile in activity.game_group.get_members %}
				  您已经加入
				  {% else %}
				  {% ifequal profile activity.game_group.holder %}
				  您是小组发起人
				  {% else %}
				  <a href="/game/join_game_group/{{activity.game_group.id}}/" class="btn"><i class="fa fa-plus">加入这个小组</i></a>                     
				  {% endifequal %}
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  地点为{{activity.game_group.court}}, 开始于{{activity.game_group.date}}&nbsp;{{activity.game_group.start_time}}, 持续{{activity.game_group.last_hour}}小时, 价格为每小时{{activity.game_group.price}}元                     
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
			{% endifequal %}
			{% ifequal activity.type 2 %}
            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-group"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="/account/view_profile/{{activity.creator.user_id}}/">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				加入了约球小组
				</td>
				<td class="text-right">
				  {% if profile in activity.game_group.members %}
				  您已经加入
				  {% else %}
				  {% ifequal profile activity.game_group.holder %}
				  您是小组发起人
				  {% else %}
				  <a href="/game/join_game_group/{{activity.game_group.id}}/" class="btn">加入这个小组</a>                     
				  {% endifequal %}
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  地点为{{activity.game_group.court}}, 开始于{{activity.game_group.date}}&nbsp;{{activity.game_group.start_time}}, 持续{{activity.game_group.last_hour}}小时, 价格为每小时{{activity.game_group.price}}元
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

			{% endifequal %}
			{% ifequal activity.type 3 %}
            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-sitemap"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="/account/view_profile/{{activity.creator.user_id}}/">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				加入了联赛{{activity.league.name}}
				</td>
				<td class="text-right">
				  {% if profile in activity.league.get_players %}
				  您已经参加
				  {% else %}
				  <a href="/game/join_league/{{activity.league.id}}/" class="btn">参加联赛</a>                     
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  开始于{{activity.league.start_date}}, 结束于{{activity.league.end_date}}, 城市为{{activity.league.city}}
				  <br>
				  现有{{activity.league.current_player_number}}人参加,总共可以有{{activity.league.max_player_number}}参与                     
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
			{% endifequal %}
			{% endfor %}
            <br class="visible-xs">
            <br class="visible-xs">
		{% endblock %}
          </div> <!-- /.col -->


          <div class="col-sm-4 col-md-3 layout-sidebar">
          <div class="portlet">
            <!-- button class="btn btn-primary btn-jumbo btn-block" onclick="checkProfile()">Ladder Games</button-->
            <!--<a class="btn btn-primary btn-jumbo btn-block" onclick="checkProfile()">Ladder Game</a>-->
            <a href="/game/game_group/" class="btn btn-primary btn-jumbo btn-block">约&nbsp;&nbsp;球</a>
            <br>
            <a href="/game/all_league/" class="btn btn-secondary btn-lg btn-block ">查看联赛</a>
          </div> <!-- /.portlet -->

            <h5 class="content-title"><u>个人数据</u></h5>

            <div class="list-group">  

              <!--a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ followers_count }}</h4>
                <p class="list-group-item-text">粉丝</p>
              </a>

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ following_count }}</h4>
                <p class="list-group-item-text">关注</p>
              </a-->

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-flag-checkered text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ games_win_count }}</h4>
                <p class="list-group-item-text">胜场</p>
              </a>

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-flag text-secondary"></i></h3>
                <h4 class="list-group-item-heading">{{games_count}}</h4>
                <p class="list-group-item-text">总场数</p>
              </a>

            </div> <!-- /.list-group -->

            <br>

          </div> <!-- /.col -->

        </div> <!-- /.row -->

        <br><br>
    </div> <!-- /.container -->

  </div> <!-- .content -->

{% endblock %}
