{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>主页 &middot; TenniSoda</title>
{% endblock %}
{% block head %}
<script>
    function checkProfile(){
        {% if profile.last_name and profile.first_name and profile.phone %}
            window.location = "/game/find_game/";
        {% else %}
            alert("Please provide your name and phone first!");
            window.location = "/account/change_profile/";
        {% endif %}
    }
</script>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block profile %}
<li class="dropdown active">
<a href="/account/welcome_user/">
    <i class="fa fa-user"></i>
    Profile
</a>
</li>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-3 col-sm-5">

          <div class="profile-avatar">
            {% if profile.picture %}
                <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="profile-avatar-img thumbnail" alt="Profile Image">
            {% else %}
                <img src="{% static "assets/uploaded_files/default.jpg" %}" class="profile-avatar-img thumbnail" alt="Profile Image">
            {% endif %}
          </div> <!-- /.profile-avatar -->

          <div class="list-group">  

            <a href="javascript:;" class="list-group-item">
              <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;Activity Feed

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a>

            <a href="javascript:;" class="list-group-item">
              <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;Messages

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a href="javascript:;" class="list-group-item">
              <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Friends

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a href="/account/change_profile/" class="list-group-item">
              <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 
          </div> <!-- /.list-group -->



        </div> <!-- /.col -->



        <div class="col-md-6 col-sm-7">

          <h3>{{ username }}</h3>

          <h5 class="text-muted">Ladder points: XXXX</h5>
          
          <ul class="icons-list">
            <li><i class="icon-li fa fa-envelope"></i> {{ profile.user.email }}</li>
            <li><i class="icon-li fa fa-globe"></i> {{ profile.phone }}</li>
            <li><i class="icon-li fa fa-map-marker"></i> {{ profile.city }}</li>
          </ul>    

          <br>

          <p>Introduction to of {{ username }}</p>

          <hr>

          <h4 class="content-title"><u>Coming game</u></h4>

          <ul class="icons-list notifications-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">You</a> watched the project <a href="javascript:;">MVP Ready Development</a>
            </li>
          </ul>

          <br><br>
          <h4 class="content-title"><u>Activity Feed</u></h4>

            <br><br>

            <div class="feed-item feed-item-idea">

              <div class="feed-icon">
                <i class="fa fa-lightbulb-o"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> shared an idea: <a href="javascript:;">Create an Awesome Idea</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-quote-left"></i>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a>
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <br class="visible-xs">
            <br class="visible-xs">

          </div> <!-- /.col -->


          <div class="col-sm-4 col-md-3 layout-sidebar">
          <div class="portlet">
            <!-- button class="btn btn-primary btn-jumbo btn-block" onclick="checkProfile()">Ladder Games</button-->
            <a class="btn btn-primary btn-jumbo btn-block" onclick="checkProfile()">Ladder Game</a>
            <br>
            <a href="/game/all_league/" class="btn btn-secondary btn-lg btn-block ">View the League</a>
          </div> <!-- /.portlet -->

            <h5 class="content-title"><u>Social Stats</u></h5>

            <div class="list-group">  

              <a href="javascript:;" class="list-group-item">
                  <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                  <h4 class="list-group-item-heading">{{ games_win_count }}</h4>
                  <p class="list-group-item-text">Win games</p>
                </a>

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-facebook-square  text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{games_count}}</h4>
                <p class="list-group-item-text">All games</p>
              </a>

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-twitter-square  text-primary"></i></h3>
                <h4 class="list-group-item-heading">5,845</h4>
                <p class="list-group-item-text">Rate</p>
              </a>
            </div> <!-- /.list-group -->

            <br>

          </div> <!-- /.col -->

        </div> <!-- /.row -->

        <br><br>
    </div> <!-- /.container -->

  </div> <!-- .content -->

{% endblock %}