{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>修改资料 &middot; TenniSoda</title>
{% endblock %}
{% block head %}
<script>
    function check(){
        password1 = document.getElementById("new-password-1").value;
        password2 = document.getElementById("new-password-2").value;
        if (password1 != password2){
            alert("Please enter the same password");
            return false;
        }
    }
</script>
{% endblock %}
{% block profileimg %}
{% if profile.picture %}
  <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
{% else %}
  <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
{% endif %}
{% endblock %}
{% block profile %}
<li class="dropdown active">
<a href="/account/welcome_user/">
    <i class="fa fa-user"></i>
    我的主页
</a>
</li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <!--div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div-->

          <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
              <li class="active">
              <a href="#profile-tab" data-toggle="tab">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;资料设置
              </a>
            </li>

            <li>
              <a href="#password-tab" data-toggle="tab">
              <i class="fa fa-lock"></i>
              &nbsp;&nbsp;修改密码
              </a>
            </li>

            <li>
              <a href="#messaging" data-toggle="tab">
              <i class="fa fa-bullhorn"></i>
              &nbsp;&nbsp;邮件订阅
              </a>
            </li>

            <li>
              <a href="#payments" data-toggle="tab">
              <i class="fa fa-dollar"></i>
              &nbsp;&nbsp;Payment Settings
              </a>
            </li>

            <li>
              <a href="#reports" data-toggle="tab">
              <i class="fa fa-signal"></i>
              &nbsp;&nbsp;Configure Reports
              </a>
            </li>
          </ul>

        </div> <!-- /.col -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">

            <div class="tab-pane fade in active" id="profile-tab">

              <h3 class="content-title"><u>编辑资料</u></h3>

              <p>带 <span style="color: red">*</span> 的必填，如果您想参与联赛或者约球，请填写真实手机号码。<br />(手机号码仅供联系对手使用，我们承诺不会向您的手机发送任何垃圾短信和电话。)</p>

              <br><br>

              <form action="/account/change_profile/" method="POST" class="form-horizontal" enctype= multipart/form-data>{% csrf_token %}

                <div class="form-group">

                  <label class="col-md-3">头像</label>
                  <div class="col-md-7">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <!--div class="fileupload-new thumbnail" style="width: 180px; height: 180px;"-->
                      <div class="fileupload-new thumbnail" style="width: 180px;">
                      <!--div class="fileupload-new thumbnail"-->
                        {% if profile.picture %}
                          <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="profile-avatar-img thumbnail" alt="Profile Image" />
                        {% else %}
                          <img src="{% static "assets/uploaded_files/default.jpg" %}" alt="Profile Image" />
                        {% endif %}
                      </div>
<!--
                      {{ form.picture }}
                      {% for err in form.picture.errors %}
                        <span style="color: red">{{ err }}</span>
                      {% endfor %}
-->
                      <input type="file" class="form-control" name="picture">
                      {% for err in form.picture.errors %}
                      	<span style="color: red">{{ err }}</span>
                      {% endfor %}
                    </div> <!-- /.fileupload -->

                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">注册邮箱</label>
                  <div class="col-md-7">
                    <input type="text" name="user-name" value="{{email}}" class="form-control" disabled />
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">姓&nbsp;<span style="color: red">&#42;</span></label>
                  <div class="col-md-7">
                    {{ form.last_name }}
                    {% for err in form.last_name.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">名&nbsp;<span style="color: red">&#42;</label>
                  <div class="col-md-7">
                    {{ form.first_name }}
                    {% for err in form.first_name.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">性别</label>
                  <div class="col-md-7">
                    {{ form.gender }}
                    {% for err in form.gender.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">城市</label>
                  <div class="col-md-3">
                    {{ form.city }}
                    {% for err in form.city.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                  <label class="col-md-1">地区</label>
                  <div class="col-md-3">
                    {{ form.district }}
                    {% for err in form.district.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">生日</label>
                  <div class="col-md-7">
                    {{ form.birth_date }}
                    {% for err in form.birth_date.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">主场</label>
                  <div class="col-md-7">
                    {{ form.court }}
                    {% for err in form.court.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">水平等级</label>
                  <div class="col-md-7">
                    {{ form.level }}
                    {% for err in form.level.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">电话</label>
                  <div class="col-md-7">
                    {{ form.phone }}
                    {% for err in form.phone.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">俱乐部</label>
                  <div class="col-md-7">
                    {{ form.club }}
                    {% for err in form.club.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                  <label class="col-md-3">签名</label>
                  <div class="col-md-7">
                    {{ form.self_introduction }}
                    {% for err in form.self_introduction.errors %}
                      <span style="color: red">{{ err }}</span>
                    {% endfor %}
                  </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <div class="form-group">
                   <div class="col-md-7 col-md-push-3">
                       <button type="submit" class="btn btn-primary">保存修改</button>
                       &nbsp;
                       <button type="reset" class="btn btn-default">取消</button>
                   </div><!-- /.col -->
                </div><!-- /.from-group -->

              </form>


            </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="password-tab">

              <h3 class="content-title"><u>修改密码</u></h3>

              <br><br>

              <form action="/account/change_password/" method="POST" class="form-horizontal" onsubmit="return check()">{% csrf_token %}

                <div class="form-group">

                  <label class="col-md-3">旧密码</label>

                  <div class="col-md-7">
                    <input type="password" name="old-password" class="form-control" />
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <hr>


                <div class="form-group">

                  <label class="col-md-3">当前密码</label>

                  <div class="col-md-7">
                    <input type="password" name="new-password-1" class="form-control" id="new-password-1" />
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <label class="col-md-3">确认新密码</label>

                  <div class="col-md-7">
                    <input type="password" name="new-password-2" class="form-control" id="new-password-2" />
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-primary">设置密码</button>
                    &nbsp;
                    <button type="reset" class="btn btn-default">取消</button>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

              </form>

            </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="messaging">

              <h3 class="content-title"><u>Notification Settings</u></h3>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

              <br><br>

              <form action="./page-settings.html" class="form form-horizontal">

                <div class="form-group">

                  <label class="col-md-3">Toggle Notifications</label>

                  <div class="col-md-7">

                    <div class="checkbox">
                      <label>
                      <input value="" type="checkbox" checked>
                      Send me security emails
                      </label>
                    </div> <!-- /.checkbox -->

                    <div class="checkbox">
                      <label>
                      <input value="" type="checkbox" checked>
                      Send system emails
                      </label>
                    </div> <!-- /.checkbox -->

                    <div class="checkbox">
                      <label>
                      <input value="" type="checkbox">
                      Lorem ipsum dolor sit amet
                      </label>
                    </div> <!-- /.checkbox -->

                    <div class="checkbox">
                      <label>
                      <input value="" type="checkbox">
                      Laborum, quam iure quibusdam
                      </label>
                    </div> <!-- /.checkbox -->

                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <label class="col-md-3">Email for Notifications</label>

                  <div class="col-md-7">
                    <select name="email_notifications" class="form-control">
                      <option value="1">john@mvpready.com</option>
                      <option value="2">mary@mvpready.com</option>
                      <option value="3">chris@mvpready.com</option>
                    </select>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->


                <div class="form-group">

                  <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    &nbsp;
                    <button type="reset" class="btn btn-default">Cancel</button>
                  </div> <!-- /.col -->

                </div> <!-- /.form-group -->

              </form>

            </div> <!-- /.tab-pane -->


            <div class="tab-pane fade" id="payments">

              <h3 class="content-title"><u>Payments Settings</u></h3>
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="reports">
              <h3 class="content-title"><u>Reports Settings</u></h3>
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->


    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}
