{% extends "index-base.html" %}
{% load static %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}

{% block content %}

  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-8">

          <h2 class="content-title"><u>通知</u></h2>
<!--
          <ul class="icons-list notifications-list">
            {% for notification in notifications_not_viewed %}
            <li>
                <i class="icon-li fa fa-eye text-secondary"></i>
                <font size="4">{{ notification.title }} </font>
                <p align="right">{{notification.time}}</p>
                {{notification.message}}
            </li>
            {% endfor %}
          </ul>
-->
<!--
          <table class="table table-striped">
            <tbody>
              {% for notification in notifications_not_viewed %}
              <tr>
                <td valign-middle><i class="icon-li fa fa-eye text-secondary"></i></td>
                <td valign-middle><font size="3">{{ notification.title }} </font></td>
                <td align="right">{{notification.time}}</td>
              </tr>
              <tr>
                <td></td>
                <td><font color="grey">{{notification.message}}</font></td>
                <td align="right"><a href="/notification/mark_as_viewed/{{notification.id}}">Mark as read</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
-->
          <table class="table table-striped">
            <tbody>
              {% for notification in notifications_all %}
              {% if notification.viewed %}
              <tr>
                <td valign-middle><i class="icon-li fa fa-eye text-secondary"></i></td>
                <td valign-middle><font size="3" color="grey">{{ notification.title }} </font></td>
                <td align="right" color="grey">{{notification.time}}</td>
              </tr>
              <tr>
                <td></td>
                <td><font color="grey">{{notification.message}}</font></td>
                <td align="right"><a href="/notification/delete/{{notification.id}}"><i class="fa fa-trash-o"></i></a></td>
              </tr>
              {% else %}
              <tr>
                <td valign-middle><i class="icon-li fa fa-eye text-secondary"></i></td>
                <td valign-middle><font size="3">{{ notification.title }} </font></td>
                <td align="right">{{notification.time}}</td>
              </tr>
              <tr>
                <td></td>
                <td>{{notification.message}}</td>
                <td align="right">
                  <a href="/notification/mark_as_viewed/{{notification.id}}">标为已读</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;<a href="/notification/delete/{{notification.id}}"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->

  </div> <!-- .content -->

{% endblock %}
