{% extends "index-base.html" %}
{% load static %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block extras %}
  <li class="dropdown active">

    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
    Extras
    <i class="mainnav-caret"></i>
    </a>

    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="/notification/all/">
        <i class="fa fa-bell"></i>
        &nbsp;&nbsp;Notifications
        </a>
      </li>

      <li>
        <a href="./extras-icons.html">
        <i class="fa fa-smile-o"></i>
        &nbsp;&nbsp;Font Icons
        </a>
      </li>

      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">
        <i class="fa fa-ban"></i>
        &nbsp;&nbsp;Error Pages
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="./page-404.html">
            <i class="fa fa-ban"></i>
            &nbsp;&nbsp;404 Error
            </a>
          </li>

          <li>
            <a href="./page-500.html">
            <i class="fa fa-ban"></i>
            &nbsp;&nbsp;500 Error
            </a>
          </li>

          <li>
            <a href="./page-faq.html">
              <i class="fa fa-question"></i>
              &nbsp;&nbsp;FAQ
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown-submenu">

        <a tabindex="-1" href="#">
        <i class="fa fa-lock"></i>
        &nbsp;&nbsp;Login Pages
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="./account-login.html">
            <i class="fa fa-unlock"></i>
            &nbsp;&nbsp;Login
            </a>
          </li>

          <li>
            <a href="./account-login-social.html">
            <i class="fa fa-unlock"></i>
            &nbsp;&nbsp;Login Social
            </a>
          </li>

          <li>
            <a href="./account-signup.html">
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Signup
            </a>
            </li>

          <li>
            <a href="./account-forgot.html">
            <i class="fa fa-envelope"></i>
            &nbsp;&nbsp;Forgot Password
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </li>
{% endblock %}

{% block content %}

  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-8">

          <h2 class="">Your Notifications</h2>

          <br><br>

          <h4 class="content-title"><u>Unread</u></h4>
<!--
          <ul class="icons-list notifications-list">
            {% for notification in notifications_not_viewed %}
            <li>
                <i class="icon-li fa fa-eye text-secondary"></i>
                <font size="4">{{ notification.title }} </font>
                <p align="right">{{notification.time}}</p>
                {{notification.message}}
            </li>
            {% endfor %}
          </ul>
-->
          <table class="table table-striped">
            <tbody>
              {% for notification in notifications_not_viewed %}
              <tr>
                <td valign-middle><i class="icon-li fa fa-eye text-secondary"></i></td>
                <td valign-middle><font size="3">{{ notification.title }} </font></td>
                <td align="right">{{notification.time}}</td>
              </tr>
              <tr>
                <td></td>
                <td><font color="grey">{{notification.message}}</font></td>
                <td align="right"><a href="/notification/mark_as_viewed/{{notification.id}}">Mark as read</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>

          <h4 class="content-title"><u>Sent Yesterday</u></h4>

          <ul class="icons-list notifications-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">You</a> watched the project <a href="javascript:;">MVP Ready Development</a>
            </li>
          </ul>

        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->

  </div> <!-- .content -->

{% endblock %}