{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>发布约球 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
{% if profile.picture %}
  <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
{% else %}
  <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
{% endif %}
{% endblock %}
{% block game_group %}
<li class="dropdown active">
<a href="/game/game_group/">
    <i class="fa fa-user"></i>
    约球
</a>
</li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <div class="layout layout-stack-sm layout-main-left">

        <form action={{url}} method="POST" class="form-horizontal">{% csrf_token %}

          <div class="col-sm-8 col-md-9 layout-main">


          <div class="form-group">
              <label class="col-md-3">场地</label>
              <div class="col-md-7">
              {{ form.court }}
              {% for err in form.court.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
              <label class="col-md-3">费用</label>
              <div class="col-md-7">
              {{ form.price }}
              {% for err in form.price.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

	  <div class="form-group">
              <label class="col-md-3">日期</label>
              <div class="col-md-7">
              {{ form.date }}
              {% for err in form.date.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

	  <div class="form-group">
              <label class="col-md-3">时间</label>
              <div class="col-md-7">
              {{ form.start_time }}
              {% for err in form.start_time.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

            <div class="form-group">
              <label class="col-md-3">持续时间</label>
              <div class="col-md-7">
              {{ form.last_hour }}
              {% for err in form.last_hour.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label class="col-md-3">等级</label>
              <div class="col-md-3">
                {{ form.level_low }}
                {% for err in form.level_low.errors %}
                  <span style="color: red">{{ err }}</span>
                {% endfor %}
              </div> <!-- /.col -->
              <div class="col-md-1">
                <center>~</center>
		{% if form.errors %}
		<center>
              	<span style="color: red">></span>
		</center>
                {% endif %}
              </div> <!-- /.col -->
              <div class="col-md-3">
                {{ form.level_high }}
                {% for err in form.level_high.errors %}
                  <span style="color: red">{{ err }}</span>
                {% endfor %}
		
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
              <label class="col-md-3">最大容量</label>
              <div class="col-md-7">
              {{ form.maximum }}
              {% for err in form.maximum.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
              <label class="col-md-3">城市</label>
              <div class="col-md-7">
              {{ form.city }}
              {% for err in form.city.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
              <label class="col-md-3">介绍</label>
              <div class="col-md-7">
              {{ form.description }}
              {% for err in form.description.errors %}
                <span style="color: red">{{ err }}</span>
              {% endfor %}
              </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          </div><!-- /.layout-main -->

          <div class="col-sm-4 col-md-3 layout-sidebar">
            <div class="form-group">
              <div class="portlet">
                <button type="submit" class="btn btn-primary btn-jumbo btn-block">发布</button>
                <br>
                <button type="reset" class="btn btn-secondary btn-lg btn-block">重置</button>
              </div><!-- /.portlet -->
            </div><!-- /.from-group -->
          </div> <!-- /.layout-sidebar -->
        </form>

      </div> <!-- /.layout -->

    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}
