{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>发布约球 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
{% if profile.picture %}
  <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
{% else %}
  <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
{% endif %}
{% endblock %}
{% block game_group %}
<li class="dropdown active">
<a href="/game/game_group/">
    <i class="fa fa-user"></i>
    约球
</a>
</li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <div class="layout layout-stack-sm layout-main-left">

        <form action="/account/change_profile/" method="POST" class="form-horizontal" enctype= multipart/form-data>{% csrf_token %}
          <div class="col-sm-8 col-md-9 layout-main">
            <div class="form-group">
              <label class="col-md-3">Email Address</label>
              <div class="col-md-7">
                <input type="text" name="user-name" value="{{email}}" class="form-control" disabled />
              </div> <!-- /.col -->
            </div> <!-- /.form-group -->
          </div><!-- /.layout-main -->

          <div class="col-sm-4 col-md-3 layout-sidebar">
            <div class="form-group">
              <div class="portlet">
                <button type="submit" class="btn btn-primary btn-jumbo btn-block">发布</button>
                <br>
                <button type="reset" class="btn btn-secondary btn-lg btn-block">重置</button>
              </div><!-- /.portlet -->
            </div><!-- /.from-group -->
          </div> <!-- /.layout-sidebar -->
        </form>

      </div> <!-- /.layout -->

    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}