{% extends "index-base.html" %}
{% load static %}
{% block title %}
    <title>发布约球 &middot; TenniSoda</title>
{% endblock %}
{% block profileimg %}
{% if profile.picture %}
  <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
{% else %}
  <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
{% endif %}
{% endblock %}
{% block game_group %}
<li class="dropdown active">
<a href="/game/game_group/">
    <i class="fa fa-user"></i>
    约球
</a>
</li>
{% endblock %}
{% block content %}
  <div class="content">

    <div class="container">

      <div class="layout layout-stack-sm layout-main-left">

        <div class="col-sm-8 col-md-9 layout-main">
          {% if attended_groups %}
          <div class="portlet">

            <h4 class="portlet-title">
              <u>已加入的小组</u>
            </h4>

            <div class="portlet-body">

              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>时间</th>
                    <th>发起人</th>
                    <th>场地</th>
                    <th class="hidden-xs">城市</th>
                    <th class="hidden-xs">等级</th>
                    <th class="hidden-xs hidden-sm">年龄要求</th>
                    <th>价格</th>
                    <th>人数上限</th>
                    <th>现有人数</th>
                    <th class="hidden-xs hidden-sm">性别要求</th>
                    <th>动作</th>
                  </tr>
                </thead>
                <tbody>
                {% for group in attended_groups %}
                  <tr>
                    <!-- time -->
                    <td>{{ group.game_group.time }}</td>
                    <!-- holder -->
                    <td>{{ group.game_group.holder }}</td>
                    <!-- court -->
                    <td>{{ group.game_group.court }}</td>
                    <!-- city -->
                    <td>{{ group.game_group.city }}</td>
                    <!-- level -->
                    <td>{{ group.game_group.level_low }}~{{ group.game_group.level_high }}</td>
                    <!-- age -->
                    {% if group.game_group.age_low and group.game_group.age_high %}
                    <td>{{ group.game_goup.age_low }}~{{ group.game_group.age_high }}岁</td>
                    {% elif group.game_group.age_low %}
                    <td>大于{{ group.game_group.age_low }}岁</td>
                    {% elif group.game_group.age_high %}
                    <td>小于{{ group.game_group.age_high }}岁</td>
                    {% else %}
                    <td>没有限制</td>
                    {% endif %}
                    <!-- price -->
                    <td>{{ group.game_group.price }}</td>
                    <!-- maximum -->
                    <td>{{ group.game_group.maximum }}人</td>
                    <!-- current number -->
                    <td>{{ group.game_group.current_num }}人</td>
                    <!-- gender -->
                    {% ifequal group.game_group.gender '2' %}
                    <td>无限制</td>
                    {% endifequal %}
                    {% ifequal group.game_group.gender '1' %}
                    <td>仅限男</td>
                    {% endifequal %}
                    {% ifequal group.game_group.gender '0' %}
                    <td>仅限女</td>
                    {% endifequal %}
                  </tr>
                {% endfor %}
                </tbody>
             </table>
            </div> <!-- /.portlet-body -->
          </div> <!-- /.portlet -->
          {% endif %}

          {% if all_groups %}
          <div class="portlet">

            <h4 class="portlet-title">
              <u>已有小组</u>
            </h4>

            <div class="portlet-body">

              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>时间</th>
                    <th>发起人</th>
                    <th>场地</th>
                    <th class="hidden-xs">城市</th>
                    <th class="hidden-xs">等级</th>
                    <th class="hidden-xs hidden-sm">年龄要求</th>
                    <th>价格</th>
                    <th>人数上限</th>
                    <th>现有人数</th>
                    <th class="hidden-xs hidden-sm">性别要求</th>
                    <th>动作</th>
                  </tr>
                </thead>
                <tbody>
                {% for group in all_groups %}
                  <tr>
                    <!-- time -->
                    <td>{{ group.time }}</td>
                    <!-- holder -->
                    <td>{{ group.holder }}</td>
                    <!-- court -->
                    <td>{{ group.court }}</td>
                    <!-- city -->
                    <td>{{ group.city }}</td>
                    <!-- level -->
                    <td>{{ group.level_low }}~{{ group.level_high }}</td>
                    <!-- age -->
                    {% if group.age_low and group.age_high %}
                    <td>{{ group.age_low }}~{{ group.age_high }}岁</td>
                    {% elif group.age_low %}
                    <td>大于{{ group.age_low }}岁</td>
                    {% elif group.age_high %}
                    <td>小于{{ group.age_high }}岁</td>
                    {% else %}
                    <td>没有限制</td>
                    {% endif %}
                    <!-- price -->
                    <td>{{ group.price }}</td>
                    <!-- maximum -->
                    <td>{{ group.maximum }}人</td>
                    <!-- current number -->
                    <td>{{ group.current_num }}人</td>
                    <!-- gender -->
                    {% ifequal group.gender '2' %}
                    <td>无限制</td>
                    {% endifequal %}
                    {% ifequal group.gender '1' %}
                    <td>仅限男</td>
                    {% endifequal %}
                    {% ifequal group.gender '0' %}
                    <td>仅限女</td>
                    {% endifequal %}
                  </tr>
                {% endfor %}
                </tbody>
             </table>
            </div> <!-- /.portlet-body -->
          </div> <!-- /.portlet -->
          {% endif %}
        </div> <!-- /.layout-main -->
        <div class="col-sm-4 col-md-3 layout-sidebar">
          <div class="portlet">
            <a href="/game/publish_game_group/" class="btn btn-primary btn-jumbo btn-block" onclick="checkProfile()">发布约球信息</a>
            <br>
            <a href="/game/all_league/" class="btn btn-secondary btn-lg btn-block ">联赛</a>
          </div> <!-- /.portlet -->


          <h4>介绍</h4>

          <div class="well">

            <ul class="icons-list text-md">
              <li>
                <i class="icon-li fa fa-comments-o text-success"></i>
                <strong>约球？</strong>
                <br>
                在这里你可以发布约球信息，也能看别人的约球。
              </li>
            </ul>
          </div> <!-- /.well -->

        </div> <!-- /.layout-sidebar -->

      </div> <!-- /.layout -->

    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}