{% extends "admin-base.html" %}
{% load static %}

{% block title %}
    <title>需要激活 - 网球苏打 &middot; TenniSoda</title>
{% endblock %}

{% block content %}

<body class="account-bg">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="{%static "assets/landing/img/logo.png" %}" style="width:186px;height:60px" alt="TenniSoda">
        </a>
      </div> <!-- /.navbar-header -->

      <nav class="collapse navbar-collapse" role="navigation">   
        <ul class="nav navbar-nav navbar-right">     
          <li>
            <a href="/"><i class="fa fa-angle-double-left"></i> &nbsp;返回主页</a>
          </li>   
        </ul>
      </nav>

    </div> <!-- /.container -->

  </header>

  <div class="account-wrapper">

    <div class="account-body">

      <h3>您的帐号需要激活</h3>

      <h4>请去邮箱 {{request.session.email}} 激活帐号！</h4>

      <h5>如果没有收到邮件，请点击<a href="/account/confirmation_resend/">这里</a> 重新发送确认邮件！</h5>
  </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->

</body>

{% endblock %}
