{% extends "view-profile.html" %}
{% load static %}
{% block list_group %}
	<div class="list-group">  

       <a href="/account/view_profile/{{opponent_profile.user_id}}/" class="list-group-item">
         <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;动态

         <i class="fa fa-chevron-right list-group-chevron"></i>
       </a>
			
       <a href="/account/get_followers/{{opponent_profile.user_id}}/" class="list-group-item">
         <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;粉丝 ({{ followers_count }})

         <i class="fa fa-chevron-right list-group-chevron"></i>
       </a> 

       <a href="/account/get_following/{{opponent_profile.user_id}}/" class="list-group-item active">
         <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;关注 ({{ following_count }})

         <i class="fa fa-chevron-right list-group-chevron"></i>
       </a> 

            
    </div> <!-- /.list-group -->

{% endblock %}

{% block subcontent %}
	<h4 class="content-title"><u>关注列表</u></h4>
	<div class="table-responsive">
		<table class="table table-striped thumbnail-table">

			<tbody>
				{% for a_following in following %}
				<tr>
					<td class="text-center">
					<a href="/account/view_profile/{{a_following.id}}/">					
					{% if a_following.profile.picture %}
		      		<img src="{% get_static_prefix %}assets/{{a_following.profile.picture.url}}" width=75 height=75 alt="Profile Image" />
    				{% else %}
      				<img src="{% static "assets/uploaded_files/default.jpg" %}" width=75 height=75 alt="Profile Image" />
    				{% endif %}
					</a>
					</td>
					<td class="valign-middle">
					<a href="/account/view_profile/{{a_following.id}}/">
					<strong>{{a_following.profile}}</strong>
					</a>
					</td>
					<td class="text-right valign-top">
					{% ifequal a_following profile.user %}
					&nbsp;
					{% else %}
						{% if a_following in myfollowing %}
						<a href="/account/remove_follower/{{a_following.id}}/" class="btn">取消关注</a>
						{% else %}
						<a href="/account/add_follower/{{a_following.id}}/" class="btn"><i class="fa fa-plus text-primary"></i><font color="green">&nbsp;&nbsp;关&nbsp;&nbsp;注&nbsp;&nbsp;</font></a>
						{% endif %}
					{% endifequal %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if following %}
		<div class="dataTables_paginate paging_bootstrap">
				<ul class="pagination">
					{% if following.has_previous %}
					<li class="btn prev"><a href="?page={{following.previous_page_number}}"><i class="fa fa-angle-double-left"></i>上一页</a></li>
					{% else %}
					<li class="btn prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>上一页</a></li>
					{% endif %}
					{%if following.has_next %}
					<li class="btn next"><a href="?page={{following.next_page_number}}">下一页<i class="fa fa-angle-double-right"></i></a></li>
					{% else %}
					<li class="btn next disabled"><a href="">下一页<i class="fa fa-angle-double-right"></i></a></li>
					{% endif %}
				</ul>
				
		</div><!-- /.paginate -->
		{% endif %}
	</div>


{% endblock %}
