{% extends "page-profile.html" %}
{% load static %}
{% block title %}
    <title>{{opponent_profile}}的主页 - 网球苏打 &middot; TenniSoda</title>
{% endblock %}
{% block head %}
<script>
    function checkProfile(){
        {% if profile.last_name and profile.first_name and profile.phone %}
            window.location = "/game/find_game/";
        {% else %}
            alert("Please provide your name and phone first!");
            window.location = "/account/change_profile/";
        {% endif %}
    }
</script>
{% endblock %}
{% block profileimg %}
    {% if profile.picture %}
      <img src="{% get_static_prefix %}assets/{{profile.picture.url}}" class="navbar-profile-avatar" alt="" />
    {% else %}
      <img src="{% static "assets/uploaded_files/default.jpg" %}" class="navbar-profile-avatar" alt="" />
    {% endif %}
{% endblock %}
{% block profile %}
<li class="dropdown ">
<a href="/account/welcome_user/">
    <i class="fa fa-user"></i>
    我的主页
</a>
</li>
{% endblock %}

{% block content %}
  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-3 col-sm-5">

          <div class="profile-avatar">
		   	{% if opponent_profile.picture %}
		      	<img src="{% get_static_prefix %}assets/{{opponent_profile.picture.url}}" class="profile-avatar-img thumbnail" alt="Profile Image" />
    		{% else %}
      			<img src="{% static "assets/uploaded_files/default.jpg" %}" class="profile-avatar-img thumbnail" alt="Profile Image" />
    		{% endif %}

          </div> <!-- /.profile-avatar -->
		  {% block list_group %}
		  <div class="list-group">  

            <a href="/account/view_profile/{{opponent_profile.user_id}}/" class="list-group-item active">
              <i class="fa fa-asterisk text-primary"></i> &nbsp;&nbsp;动态

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a>
			
            <a href="/account/get_followers/{{opponent_profile.user_id}}/" class="list-group-item">
              <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;粉丝 ({{ followers_count }})

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            <a href="/account/get_following/{{opponent_profile.user_id}}/" class="list-group-item">
              <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;关注 ({{ following_count }})

              <i class="fa fa-chevron-right list-group-chevron"></i>
            </a> 

            
          </div> <!-- /.list-group -->
		  {% endblock %}

        </div> <!-- /.col -->



        <div class="col-md-6 col-sm-7">

            {% ifequal opponent_profile.gender '0' %}
                <h3 style="color:#FF62B0">{{ opponent_profile }}</h3>
            {% else %}
            	<h3 style="color:#62A9FF">{{ opponent_profile }}</h3>
            {% endifequal %}
			<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<i class="icon-li fa fa-envelope"></i>{{opponent_profile.user.email}}
			-->
			<hr>

			<div class="row">
				<div class="col-md-6 col-sm-6">
           			<i class="icon-li fa fa-sort-alpha-asc"></i>
           			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           			{% if opponent_profile.level %}
           				{{opponent_profile.level}}
           			{% else %}
           				未填等级
           			{% endif %}
				</div><!-- /.col -->
				<div class="col-md-6 col-sm-6">
           			<i class="icon-li fa fa-globe"></i>
           			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           			{% if opponent_profile.city %}
           				{{opponent_profile.city}}
           			{% else %}
           				未选城市
           			{% endif %}
				</div><!-- /.col -->
			</div><!-- /.row -->
			<br/>
			<p>
	   			<i class="icon-li fa fa-map-marker"></i>
	   			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			{% if opponent_profile.court %}
	   				{{opponent_profile.court}}
	   			{% else %}
	   				未选主场
	   			{% endif %}
			</p>
          <p>自我介绍：
          	{% if opponent_profile.self_introduction %}
           		{{opponent_profile.self_introduction}}
           	{% else %}
           		无
           	{% endif %}
          </p>
		  <br/>
			{% if is_followed %}
           		<a href="/account/remove_follower/{{opponent_profile.user_id}}/" class="btn btn-secondary">&nbsp;&nbsp;&nbsp;取消关注&nbsp;&nbsp;&nbsp;</a>
			{% else %}
           		<a href="/account/add_follower/{{opponent_profile.user_id}}/" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			{% endif %}

          <hr>


          <br><br>

			{% block subcontent %}
          <!--h4 class="content-title"><u>Coming game</u></h4>

          <ul class="icons-list notifications-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">You</a> watched the project <a href="javascript:;">MVP Ready Development</a>
            </li>
          </ul>

          <br><br-->
		  
          <h4 class="content-title"><u>动态</u></h4>

            <br><br>
			{% for activity in activities %}
			{% ifequal activity.type 1 %}
			<!-- hold game group -->
            <div class="feed-item feed-item-idea">

              <div class="feed-icon">
                <i class="fa fa-group"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="/account/view_profile/{{activity.creator.user_id}}/">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				发布了约球小组
				</td>
				<td class="text-right">
				  {% if profile in activity.game_group.get_members %}
				  	您已经加入
				  {% else %}
					  {% ifequal activity.game_group.maximum activity.game_group.current_num %}
					  	小组已满
					  {% else %}
					  	{% if activity.game_group.date < date %}
				  			已过期
					  	{% else %}
					  		<a href="/game/join_game_group/{{activity.game_group.id}}/" class="btn"><i class="fa fa-plus">加入这个小组</i></a>                     
					  	{% endif %}
					  {% endifequal %}
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  地点为{{activity.game_group.court}}, 开始于{{activity.game_group.date}}&nbsp;{{activity.game_group.start_time}}, 持续{{activity.game_group.last_hour}}小时, 价格为每小时{{activity.game_group.price}}元                     
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
			{% endifequal %}
			{% ifequal activity.type 2 %}
			<!-- join game group -->
            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-group"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				加入了约球小组
				</td>
				<td class="text-right">
				  {% if profile in activity.game_group.members %}
				  	您已经加入
				  {% else %}
					  {% ifequal profile activity.game_group.holder %}
					  	您是小组发起人
					  {% else %}
					  	
					  	{% ifequal activity.game_group.current_num activity.game_group.maximum %}
					  		小组已满
					  	{% else %}
					  		{% if activity.game_group.date < date %}
					  			已过期
					  		{% else %}
					  			<a href="/game/join_game_group/{{activity.game_group.id}}/" class="btn">加入这个小组</a>
  						  	{% endif %}
						{% endifequal %}                     
					  {% endifequal %}
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  地点为{{activity.game_group.court}}, 开始于{{activity.game_group.date}}&nbsp;{{activity.game_group.start_time}}, 持续{{activity.game_group.last_hour}}小时, 价格为每小时{{activity.game_group.price}}元
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

			{% endifequal %}
			{% ifequal activity.type 3 %}
            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-sitemap"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">{{activity.creator}}</a></p>
				<table width="485px">
				<tr>
				<td class="text-left">
				加入了联赛{{activity.league.name}}
				</td>
				<td class="text-right">
				  {% if profile in activity.league.get_players %}
				  您已经参加
				  {% else %}
				  <a href="/game/join_league/{{activity.league.id}}/" class="btn">参加联赛</a>                     
				  {% endif %}

				</td>
				</tr>
				</table>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                  开始于{{activity.league.start_date}}, 结束于{{activity.league.end_date}}, 城市为{{activity.league.city}}
				  <br>
				  现有{{activity.league.current_player_number}}人参加,总共可以有{{activity.league.max_player_number}}参与                     
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="/activity/like/{{activity.id}}" class="pull-left"><i class="fa fa-thumbs-up"></i>{{activity.like_num}}</a>
                

                <a href="" class="pull-right disabled"><i class="fa fa-clock-o"></i>{{activity.date_time}}</a> 
				</div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
			{% endifequal %}
			{% endfor %}
			<div class="row">
			  	<!-- pagination-->
				<div class="dataTables_paginate paging_bootstrap">
					<ul class="pagination">
						{% if activities.has_previous %}
						<li class="btn prev"><a href="?page={{activities.previous_page_number}}"><i class="fa fa-angle-double-left"></i>上一页</a></li>
						{% else %}
						<li class="btn prev disabled"><a href=""><i class="fa fa-angle-double-left"></i>上一页</a></li>
						{% endif %}
						{%if activities.has_next %}
						<li class="btn next"><a href="?page={{activities.next_page_number}}">下一页<i class="fa fa-angle-double-right"></i></a></li>
						{% else %}
						<li class="btn next disabled"><a href="">下一页<i class="fa fa-angle-double-right"></i></a></li>
						{% endif %}
						</ul>
				</div><!-- /.paginate -->
				
			</div><!-- /.row -->
            <br class="visible-xs">
            <br class="visible-xs">
		{% endblock %}
			
          </div> <!-- /.col -->
		

          <div class="col-md-3">
            <h5 class="content-title"><u>个人数据</u></h5>

            <div class="list-group">

              <!--a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ followers_count }}</h4>
                <p class="list-group-item-text">粉丝</p>
              </a-->

              <!--a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ following_count }}</h4>
                <p class="list-group-item-text">关注</p>
              </a-->

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-flag-checkered text-primary"></i></h3>
                <h4 class="list-group-item-heading">{{ games_win_count }}</h4>
                <p class="list-group-item-text">胜场</p>
              </a>

              <a href="javascript:;" class="list-group-item">
                <h3 class="pull-right"><i class="fa fa-flag text-secondary"></i></h3>
                <h4 class="list-group-item-heading">{{games_count}}</h4>
                <p class="list-group-item-text">总场数</p>
              </a>
            </div> <!-- /.list-group -->

            <br>


          </div> <!-- /.col -->

        </div> <!-- /.row -->

        <br><br>

    </div> <!-- /.container -->

  </div> <!-- .content -->
{% endblock %}
